---
import BaseHead from '../components/BaseHead.astro';
import AboutPage from '../components/templates/AboutPage';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About - Jucelito Silva" description="Learn more about Jucelito Silva, a passionate frontend developer with over 10 years of experience." />
	</head>
	<body>
		<AboutPage client:load />
	</body>
</html>
